services:
  fastapi:
    container_name: fastapi
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres
      - redis
    volumes:
      - ./media:/media
      - ./static:/static

  postgres:
    container_name: postgres
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    container_name: redis
    image: redis:8


  aerich:
    container_name: aerich
    build: .
    working_dir: /app/app
    env_file:
      - .env
    volumes:
      - ./:/app
    depends_on:
      - postgres
    environment:
      TORTOISE_DB_URL: ${DATABASE_URL}

volumes:
  postgres_data:
